{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'browsertest/style.css' %}">
<script>
    var test_results = {};
    var test_id = "{{ test_id }}";
    var subdomain_origin = "{{ subdomain_origin }}"
    var current_origin = "{{ current_origin }}"
    var current_secure_origin = "{{ current_secure_origin }}"
</script>
<script src="{% static 'browsertest/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'saveresult/global.js'%}"></script>

<h1>Browsertest</h1>

<dl>
    <dt>
        Test ID
    </dt>
    <dd>
        {{ test_id }}
    </dd>
</dl>

{% include "xframeoptionstest/result_table.html" with test_id=test_id subdomain_origin=subdomain_origin %}

<div id="result">

</div>

<a href="/browsertest/test/{{ test_id }}/referrerpolicy" style="font-size: 24px;" tabindex="0">Next test: Referrer-Policy</a>