{% load static %}
<script src="{% static 'browsertest/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'saveresult/global.js'%}"></script>
<script src="{% static 'referrerpolicytest/script_strictoriginwhencrossorigin_setup.js'%}"></script>

Header: referrer-policy <br />
Value: strict-origin-when-cross-origin (cross origin, HTTP to HTTPS)


<script>
    $(function(){
        referrerpolicytest_strictoriginwhencrossorigin_crossorigin_httptohttps_check("{{ test_id }}")
            .done(function(result) {
                console.log(result);
                //save_result("{{ test_id }}", "refererpolicy_none_secure", result);
            });
    });
</script>