{% load static %}
<script src="{% static 'browsertest/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'saveresult/global.js'%}"></script>
<script src="{% static 'referrerpolicytest/script_unsafeurl_setup.js'%}"></script>

Header: referrer-policy <br />
Value: unsafe-url (same origin)


<script>
    $(function(){
        referrerpolicytest_unsafeurl_sameorigin_check("{{ test_id }}")
            .done(function(result) {
                console.log(result);
                //save_result("{{ test_id }}", "refererpolicy_none_secure", result);
            });
    });
</script>