{% load static %}
<script src="{% static 'browsertest/jquery-3.4.1.min.js' %}"></script>

Test-ID: {{ test_id }} <br />
Header: content-security-policy <br />
Directive: frame-src {{ value }}

<script>
    function contentsecuritypolicytest_defaultsrc_frame_check(test_id, value) {
        return $.ajax({
            url: "/contentsecuritypolicytest/defaultsrc_check/" + test_id + "/framesrc_" + value + "/"
        });
    }

    $(function(){
        contentsecuritypolicytest_defaultsrc_frame_check("{{ test_id }}", "{{ value }}")
            .done(function(result) {
                console.log(result);
                //save_result("{{ test_id }}", "refererpolicy_none_secure", result);
            });
    });
</script>