{% load static %}
<script src="{% static 'browsertest/jquery-3.4.1.min.js' %}"></script>

Test-ID: {{ test_id }} <br />
Header: content-security-policy <br />
Directive: default-src {{ value }}

<iframe tabindex="-1" src="/contentsecuritypolicytest/defaultsrc_frame_inner/{{ test_id }}/{{ value }}"></iframe>

<script>
    function contentsecuritypolicytest_defaultsrc_check_outer(test_id, value) {
        return $.ajax({
            url: "/contentsecuritypolicytest/defaultsrc_check/" + test_id + "/frameancestors_outer_" + value + "/"
        });
    }

    $(function(){
        contentsecuritypolicytest_defaultsrc_check_outer("{{ test_id }}", "{{ value }}")
            .done(function(result) {
                console.log(result);
                //save_result("{{ test_id }}", "refererpolicy_none_secure", result);
            });
    });
</script>